extends ../partials/mainLayout
block content
  .container
    .card-panel.blue.lighten-4.hoverable      
      img.devsite-product-logo(src='img/maps.png', alt='Google Maps API')    
      .card-content
