.navbar
	nav.blue
		.nav-wrapper
			a.brand-logo(href='/') Taller Aplicaciones Multimedia (Google)
			a.button-collapse(href='/', data-activates='nav-mobile')
				i.material-icons menu
			ul.fixed.right.hide-on-med-and-down
				li
					a(href='/lady') Api 1 (Lady)
				li
					a(href='/esteban') Api 2 (Alberto)
				li
					a(href='#') Api 3 (Jesus)
				li
					a(href='/ricardo') Api 4 (Ricardo)
				li
					a(href='/logout') Log Out
			ul#nav-mobile.side-nav
				li
					a.center(href='/') Api's Google
				li
					a(href='/lady') Api 1 (Lady)
				li
					a(href='/esteban') Api 2 (Alberto)
				li
					a(href='#') Api 3 (Jesus)
				li
					a(href='/ricardo') Api 4 (Ricardo)
				li
					a(href='/logout') Log Out
