extends mainLayout
block content
  .container
    .card-panel.grey.lighten-2.hoverable
      h4 Datos al hacer el login con la api de Google
      .card-content
        p Id: #{user.google.id}
        p Nombre: #{user.google.name}
        p Correo: #{user.google.email}
				
				
        
            
