extends ../partials/mainLayout
block content
  .container
    .card-panel.grey.lighten-2.hoverable
      h4 Google Auth (Google+)
      .card-content
        | Aqui estaria el Login con Google-Auth Utilizando la api de Google+
        .card-panel.center
          h4 Registro con Google+
          a(href='/ricardo/auth/google').waves-effect.waves-light.btn-large.red
            i.fa.fa-google-plus(aria-hidden='true')
